/ ログインのmodal
= render partial: "login"

/ head-jumbotron
#jumbotron-ext.jumbotron
  .container.smooth
    %h1#head-message
      Knowledge Market
    %p#head-caption
      サッカーを見つめ直し、サッカーに活かす。
      %br
      新しい発見との出会いの場。
    / 新規登録
    .row.margin-none
      / 直接新規登録
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class:'form-inline'}) do |f|
        = devise_error_messages!
        .form-group
          %label.sr-only{for: "exampleInputName3"} 名前
          = f.text_field :name, class:"form-control head-form", placeholder:"名前"
        .form-group
          %label.sr-only{for: "exampleInputEmail3"} メールアドレス
          = f.email_field :email, class:"form-control head-form", placeholder:"メールアドレス", autofocus: true
        .form-group
          %label.sr-only{for: "exampleInputPassword3"} パスワード
          = f.password_field :password, class:"form-control head-form", placeholder:"パスワード(6文字以上)", autocomplete: "off"
        .form-group
          %label.sr-only パスワード確認
          = f.password_field :password_confirmation, class:"form-control head-form", placeholder: "パスワード確認", autocomplete: "off"
        = f.submit "Sign up", class:"btn btn-primary smooth"
      / SNS新規登録
      %p.color-white &emsp;or
      = link_to "Facebookで登録", user_facebook_omniauth_authorize_path, class: "btn btn-fb smooth"
      = link_to "Twitterで登録", user_twitter_omniauth_authorize_path, class: "btn btn-tw smooth"

.top-contents-wrapper
  / video list
  .container
    .row
      .col-md-9
        .panel
          .panel-body
            %h3.list-name 人気の動画
            .row
              = render partial: "common/category_videos", collection: @videos.limit(3), as: "video"
        - @categories.each do |category|
          - if category.videos.present?
            .panel
              .panel-body
                %h3.list-name #{ category.name }
                .row
                  = render partial: "common/category_videos", collection: category.videos, as: "video"
      .col-md-3
        = render partial: "sidebar"


/ message-jumbotron
#message.jumbotron
  .container
    %p#message-text
      W杯、そろそろ優勝。
      %br
