
    <!-- ポイント数 -->
    <h4>①ポイント数を決める</h4>
    <div class="panel panel-body bgc-default">
      <div class="input-group width-100">
        <input type="number" class="form-control pt-select" id="width-40" min="301" max="<%= @point %>" placeholder="金額を選択">
        <div class="clear">&nbsp;</div>
        <p class="help-block">301〜<%= @point %>ptまで</p>
      </div>
    </div>


    <!-- 支払い方法 -->
    <h4>②振込先を決める</h4>
    <div class="panel panel-default bgc-default">
        <div class="panel-body">
          <%= form_tag('/trades', method: :post, class:"col-sm-7 padding-none" ) do %>
          <div class="panel panel-default">
            <div class="panel-body form-horizontal payment-form">
              <div class="form-group">
              <label for="payment_account_bank_name" class="col-sm-3 control-label">銀行名</label>
                <div class="col-sm-9">
                  <%= text_field :payment_account, :bank_name, class:"form-control" %>
                </div>
              </div>
              <div class="form-group">
              <label for="payment_account_branch_num" class="col-sm-3 control-label">店番</label>
                <div class="col-sm-5">
                  <%= number_field :payment_account, :branch_num, class:"form-control", in: 0..1000 %>
                </div>
              </div>
              <div class="form-group">
              <label for="payment_account_account_type" class="col-sm-3 control-label">口座種別</label>
                <div class="col-sm-5">
                  <%= select_tag 'payment_account[account_type]', options_for_select([["普通預金", "savings"], ["当座預金", "checking"], ["定期預金", "time-deposit"], ["その他", "others"]]), class:"form-control" %>
                </div>
              </div>
              <div class="form-group">
              <label for="payment_account_account_num" class="col-sm-3 control-label">口座番号</label>
                <div class="col-sm-5">
                  <%= number_field :payment_account, :account_num, class:"form-control", in: 10000..100000000 %>
                </div>
              </div>
              <div class="form-group">
              <label for="payment_account_account_holder" class="col-sm-3 control-label">口座名義</label>
                <div class="col-sm-9">
                  <%= text_field :payment_account, :account_holder, class:"form-control", placeholder: "カタカナ" %>
                </div>
              </div>
              <%= hidden_field_tag(:sum, "数字") %>
              <%= submit_tag "口座登録", class:"btn btn-default" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>