!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Footballers
    %meta{:content => "width=device-width,initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if user_signed_in?
      = render partial: "common/header"
    - else
      = render partial: "common/unsigned"
    - if notice
      .notice= notice
    - if alert
      .alert= alert
    = yield

  / footer
  %footer.footer
    .container
      %p.text-muted footer content here.

